.linavstyleleft {
  flex-grow: 10px;
  list-style: none;
  text-align: left;
  font-size: 20px;
  display: flex;
  position: relative;
  left: -30px;
}
.navbuttonsleft {
  border-radius: 2px;
  text-decoration: none;
  color: rgba(19, 99, 204, 0.911);
  margin-top: 10px;
  text-shadow: 1px 1px 3px rgba(2, 6, 10, 0.342);
}
.navbuttonsleft:hover {
  background-color: rgba(87, 94, 97, 0.281);
  padding: 0px 1px 0px 1px;
}
