.bgcolor {
  background-color: rgba(161, 252, 181, 0.322);
}

.imgfrog {
  z-index: -1;
  width: 562px;
  height: 450px;
  position: relative;
  left: 115px;
  top: 100px;
  border-right: 25px;
  margin-right: 25px;
  margin-bottom: 25px;
  padding: 1px;
  box-shadow: 2px 2px 5px black, 2px 2px 5px rgb(163, 235, 231),
    5px 5px 5px rgb(139, 130, 0);
}

.borderimg {
  opacity: 0.2;
  z-index: 2;
  position: relative;
  top: -15px;
  width: 269.5px;
  height: 65px;
}
.borderimg2 {
  opacity: 0.05;
  z-index: 2;
  position: relative;
  top: -15px;
  width: 269.5px;
  height: 65px;
}

.body {
  background-image: url;
}
