body {
  background-color: rgba(220, 197, 170, 0.3);
  font-family: sans-serif;
}

.main-flexbox-container {
  min-width: 100%;
  max-width: 100%;
  justify-content: center;
  display: flex;
}
.main-flexbox-item {
  margin: 0px;
}
.main-left-item {
  overflow-wrap: break-word;
  text-align: center;
  min-height: 50vh;
  border-right: 2px solid rgb(255, 255, 255);
  border-top: 2px solid rgb(255, 255, 255);
  width: 330px;
}
.main-middle-item {
  text-align: center;
  min-height: 100vh;
  border-top: 2px solid rgb(255, 255, 255);
  width: 2500px;
}

.main-middle-item:-webkit-scrollbar {
  display: none;
}
.calendar-item {
  text-align: center;
  min-height: 50vh;
  border-right: 2px solid rgb(255, 255, 255);
  width: 300px;
}
.calendar2-item {
  text-align: left;
  min-height: 50vh;
  border-right: 2px solid rgb(255, 255, 255);
  width: 300px;
}
.calendar-right-item {
  overflow-wrap: break-word;
  text-align: center;
  min-height: 50vh;
  border-left: 2px solid rgb(255, 255, 255);
  border-top: 2px solid rgb(255, 255, 255);
  width: 330px;
}
