#mainpagebg {
  background-image: url("../allatokbogyonak/allatok/hatter2.jpg");
  background-size: 30%;
}
#frogpagebg {
  background-image: url("../allatokbogyonak/allatok/frogbg.jpg");
  background-size: 20%;
}

#pandapagebg {
  background-image: url("../allatokbogyonak/allatok/pandabg.png");
  background-size: 30%;
}

