.rendelésnaptár {
  font-family: sans-serif;
  position: absolute;
  text-align: left;
  top: 185px;
  left: 580px;

  transform: translateY(-50%);
  width: 140px;
  padding: 10px 10px 10px 10px;
  border: rgba(41, 61, 61, 0.295) solid;
  border-radius: 10px;
  margin: 0px auto;
  background-color: rgba(161, 252, 181, 0.322);
}
.fejléc {
  margin-bottom: 10px;
  background-color: rgba(41, 61, 61, 0.116);
  border-radius: 3px;
  width: 135px;
  text-align: center;
  padding: 2px 2px 2px;
}
.tartalom {
  cursor: pointer;
}
.rendelésstílus {
  font-family: sans-serif;
  position: absolute;
  text-align: left;
  top: 370px;
  left: 580px;

  transform: translateY(-50%);
  width: 140px;
  padding: 10px 10px 10px 10px;
  border: rgba(41, 61, 61, 0.295) solid;
  border-radius: 10px;
  margin: 0px auto;
  background-color: rgba(161, 252, 181, 0.322);
}
.kiválasztottméret {
  font-family: sans-serif;
  position: absolute;
  text-align: left;
  top: 560px;
  left: 580px;

  transform: translateY(-50%);
  width: 182px;
  padding: 10px 10px 10px 10px;
  border: rgba(41, 61, 61, 0.295) solid;
  border-radius: 10px;
  margin: 0px auto;
  background-color: rgba(161, 252, 181, 0.322);
  font-size: 16px;
}
.fejléc2 {
  margin-bottom: 10px;
  background-color: rgba(41, 61, 61, 0.116);
  border-radius: 3px;
  width: 135px;
  text-align: center;
  padding: 2px 2px 2px;
  margin-left: 20px;
}
.tartalom2 {
  cursor: text;
}
