.navbuttons {
  color: rgba(67, 73, 71, 0.822);
  font-family: cursive, Cambria, Cochin, Georgia, Times;
  font-weight: 500;
  font-size: 18px;
  text-decoration: none;
  text-shadow: 1.5px 1.5px 5px rgba(0, 0, 0, 0.397);
  padding-right: 4px;
  padding-left: 4px;
}
.navbuttons:hover {
  background-color: rgba(92, 121, 112, 0.24);
  border-radius: 5px;
}

.ulnavstyle {
  padding-left: 0px;
  margin: 5px;
  list-style: none;
}
.headrowposition {
  z-index: 1;
  color: rgb(0, 0, 0);
  text-align: center;
  text-shadow: 1.5px 1.5px 5px rgba(0, 0, 0, 0.397);
  font-family: sans-serif;
  padding-right: 10%;
  padding-left: 0px;
  padding-bottom: none;
  border-bottom: none;
  border-right: none;
  list-style: none;
}
.setstaticheadrow {
  z-index: 1;
  position: fixed;
  min-width: calc(100% - 94px);
  background-color: rgb(218, 243, 212);
  top: 0px;
  margin-bottom: 25px;
}
.setstaticnav {
  position: fixed;
  object-position: center;
  align-items: center;
  top: 0px;
  background-color: rgba(218, 243, 212);
  padding-bottom: 100%;
  padding-top: 60px;
  margin-right: 22px;
}
.linavstyle {
  margin-bottom: 10px;
}
