body {
  background-color: rgba(220, 197, 170, 0.3);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.mainpage-flexbox-container {
  min-width: 100%;
  max-width: 100%;
  justify-content: center;
  display: flex;
}
.mainpage-flexbox-item {
  margin: 0px;
  width: 180px;
}
.mainpageleft-item {
  text-align: left;
  min-height: 50vh;
  border-right: 2px solid rgba(255, 255, 255);

  flex-shrink: 0;
}
.mainpagemiddle-item {
  text-align: center;
  min-height: 100vh;

  flex-grow: 12;
}
.ulnavstyleleft {
  text-align: left;
  margin: 0px;
  padding-left: 0px;
}
.linavstyleleft {
  list-style: none;
  font-size: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.navbuttonsleft {
  text-decoration: none;
  color: rgba(39, 37, 37, 0.911);
  text-shadow: 1px 1px 1px rgba(41, 61, 61, 0.158);
  display: block;
}
.linavstyleleft:hover {
  background-color: rgba(87, 94, 97, 0.281);
  cursor: pointer;
}
.material-icons {
  position: relative;
  top: 4.5px;
}
