* {
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
  list-style: none;
  padding: 0;
  margin: 0;
  text-decoration: none;
}

body {
  font-family: monospace;
  background: rgb(139, 139, 138);
}

nav {
  background: rgb(139, 139, 138);
  height: 30px;
  width: 100%;
  position: fixed;
}
nav ul {
  margin-right: 20px;
  float: right;
  cursor: pointer;
}

nav ul li {
  display: inline-block;
  padding-top: 3.5px;
  padding-bottom: 3.5px;
}
nav ul li a {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  padding-top: 3.5px;
  padding-bottom: 3.5px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
}

nav ul li:hover {
  background: rgba(105, 141, 48, 0.411);
  transition: 0.5s;
}

.checkbtn {
  font-size: 30px;
  display: none;
  float: right;
  position: relative;
  bottom: 2px;
  margin-right: 20px;
  cursor: pointer;
  display: none;
  color: white;
}
#check {
  display: none;
  background: none;
}
.material-icons {
  color: #000000;
  background-color: rgba(105, 141, 48, 0.411);
  position: relative;
  left: 95%;
  top: 20px;
  margin: 10px;
  padding: 10px;
  z-index: 99;
}

@media (max-width: 1100px), (max-height: 100px) {
  .checkbtn {
    display: inline-block;
    background: none;
  }
  nav {
    position: fixed;
  }
  nav ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: rgb(139, 139, 138);
    top: 30px;
    left: -1000%;
    text-align: center;
  }
  nav ul li {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
  }
  nav ul li a {
    font-size: 20px;
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    min-width: 100vh;
  }
  nav ul li:hover {
    background: rgba(105, 141, 48, 0.411);
    transition: 0.5s;
  }

  #check:checked ~ ul {
    left: 0;
    display: block;
  }

  .material-icons {
    color: #000000;
    background-color: rgba(105, 141, 48, 0.411);
    position: relative;
    left: 85%;
    top: 20px;
    margin: 10px;
    padding: 10px;
    z-index: 99;
  }
}
footer {
  height: 100px;
  display: block;
}
